#road {
	background: #555;
	height: 800px;
	width: 400px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.lanepair {
	width: 200px;
	height: 800px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.lanepair + .lanepair { left: 200px; }

.lane {
	box-sizing: border-box;
	width: 100px;
	height: 800px;
	margin: 0;
	padding: 0;
	border-right: 1px solid white;
	position: absolute;
	top: 0;
	left: 0;
}
.lane + .lane { left: 100px; }

.car {
	background: red;
	box-sizing: border-box;
	position: absolute;
	width: 50px;
	height: 90px;
	bottom: 20px;
	left: 25px;
}

.a #car-a-car { left: 125px; }
.b #car-b-car { left: 125px; }

#obstacles {  }
#obstacles div {
	background: blue;
	width: 50px;
	height: 50px;
	position: absolute;
}
#obstacles div.a0 { left: 25px; }
#obstacles div.a1 { left: 125px; }
#obstacles div.b0 { left: 225px; }
#obstacles div.b1 { left: 325px; }

.hidden { display: none !important; }




#tunnel {
	width: 800px;
	height: 800px;
	position: relative;
	display: inline-block;
}
#tunnel:after {
	content: ' ';
	width: 800px;
	height: 800px;
	box-sizing: border-box;
	border: 400px solid brown;
	border-top-color: #400;
	border-left-color: #600;
	border-bottom-color: #800;
	border-right-color: #a00;
}

#ship {
	position: absolute;
	width: 150px;
	height: 100px;
	background: white;
	left: 100px;
	top: 200px;
}
.a #ship { left: 550px; }
.b #ship { top: 500px; }
#pillars div {
	/*transform-origin: 400px 400px;*/
	background: black;
}
#pillars div.a0 { left: 100px; width: 200px; top: 0px; height: 800px; }
#pillars div.a1 { left: 500px; width: 200px; top: 0px; height: 800px; }
#pillars div.b0 { top: 100px; height: 200px; left: 0px; width: 800px; }
#pillars div.b1 { top: 500px; height: 200px; left: 0px; width: 800px; }
