#road {
	background: #555;
	height: 500px;
	width: 400px;
	margin: 0;
	padding: 0;
}

.lanepair {
	width: 200px;
	height: 500px;
	margin: 0;
	padding: 0;
	position: relative;
}

.lane {
	box-sizing: border-box;
	width: 100px;
	height: 500px;
	margin: 0;
	padding: 0;
	border-right: 1px solid white;
	position: absolute;
	top: 0;
	left: 0;
}
.lane + .lane { left: 100px; top: 0; }

.car {
	background: red;
	box-sizing: border-box;
	position: absolute;
	width: 50px;
	height: 90px;
	bottom: 20px;
	left: 25px;
}