#road {
	background: #555;
	height: 800px;
	width: 400px;
	margin: 0;
	padding: 0;
}

.lanepair {
	width: 200px;
	height: 800px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.lanepair + .lanepair { left: 200px; }

.lane {
	box-sizing: border-box;
	width: 100px;
	height: 800px;
	margin: 0;
	padding: 0;
	border-right: 1px solid white;
	position: absolute;
	top: 0;
	left: 0;
}
.lane + .lane { left: 100px; }

.car {
	background: red;
	box-sizing: border-box;
	position: absolute;
	width: 50px;
	height: 90px;
	bottom: 20px;
	left: 25px;
}

.a #car-a-car { left: 125px; }
.b #car-b-car { left: 125px; }

#obstacles { display: none; }
#obstacles div {
	background: blue;
	width: 50px;
	height: 50px;
	position: absolute;
}
#obstacles div.a0 { left: 25px; }
#obstacles div.a1 { left: 125px; }
#obstacles div.b0 { left: 225px; }
#obstacles div.b1 { left: 325px; }

.hidden { display: none !important; }