#road {
	background: #555;
	height: 800px;
	width: 400px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-block;
}

.lanepair {
	width: 200px;
	height: 800px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.lanepair + .lanepair { left: 200px; }

.lane {
	box-sizing: border-box;
	width: 100px;
	height: 800px;
	margin: 0;
	padding: 0;
	border-right: 1px solid white;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.lane + .lane { left: 100px; }

.car {
	background: url('car.png');
	background-size: contain;
	box-sizing: border-box;
	position: absolute;
	width: 50px;
	height: 90px;
	bottom: 20px;
	left: 25px;
	transition: all 300ms;
	transform: 0;
}

.a #car-a-car,
.b #car-b-car { transform: translate(100px, 0); }

#obstacles {
	height: 800px;
	width: 400px;
	overflow: hidden;
}
#obstacles div {
	background: url('rock.png');
	background-size: contain;
	width: 50px;
	height: 50px;
	position: absolute;
}
#obstacles div.a0 { left: 25px; }
#obstacles div.a1 { left: 125px; }
#obstacles div.b0 { left: 225px; }
#obstacles div.b1 { left: 325px; }

.hidden { display: none !important; }




#tunnel {
	width: 800px;
	height: 800px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}
#tunnel:before {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	content: ' ';
	width: 800px;
	height: 800px;
	box-sizing: border-box;
	border: 400px solid brown;
	border-top-color: #400;
	border-left-color: #600;
	border-bottom-color: #800;
	border-right-color: #a00;
}

#ship {
	position: absolute;
	width: 300px;
	height: 200px;
	background: url('ship.png');
	background-size: contain;
	left: 50px;
	top: 100px;
	z-index: 100;
	transition: all 300ms;
	transform: translate(0, 0);
}
.a #ship { transform: translate(400px, 0); }
.b #ship { transform: translate(0, 400px); }
.a.b #ship { transform: translate(400px, 400px); }
#pillars div {
	background: black;
	position: absolute;
	z-index: 10;
}
#pillars div.a0 { left: 100px; width: 200px; top: 0px; height: 800px; transform-origin: 300px 400px; }
#pillars div.a1 { left: 500px; width: 200px; top: 0px; height: 800px; transform-origin: -100px 400px; }
#pillars div.b0 { top: 100px; height: 200px; left: 0px; width: 800px; transform-origin: 400px 300px; }
#pillars div.b1 { top: 500px; height: 200px; left: 0px; width: 800px; transform-origin: 400px -100px; }
#pillars div.danger { background: yellow; }


#container {
	width: 1200px;
	font-size: 0;
	height: 800px;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	transform-origin: 0% 0%;
}

#score {
	color: white;
	font-size: 50px;
	font-family: sans-serif;
	position: absolute;
	left: 0;
	top: 20px;
	width: 1180px;
	text-align: right;
	z-index: 2000;
	text-shadow: 0 0 10px black;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.invisible { opacity: 0; }
#road, #tunnel, .lane-block, .tunnel-block { transition: opacity 1500ms; }



.lane-block, .tunnel-block {
	position: absolute;
	background: white;
	z-index: 200;
	left: 0; top: 0;
	height: 800px; width: 800px;
}
.lane-block { width: 100px; }
#block-lane-a1 { left: 100px; }
#block-lane-b0 { left: 200px; }
#block-lane-b1 { left: 300px; }
#block-tunnel-a0 { width: 400px; }
#block-tunnel-a1 { width: 400px; left: 400px; }
#block-tunnel-b0 { height: 400px; }
#block-tunnel-b1 { height: 400px; top: 400px; }

